<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css">
  <script src="~/js/site.js"></script>
  @RenderSection("button",false)
</head>
<body>
<div class="form-modal">
    
    <div class="form-toggle">
        <form asp-controller="Home" asp-action="login">
            <button type="submit" id="login-toggle">ورود</button>
        </form>
        <form asp-controller="Home" asp-action="signup">
            <button type="submit" id="signup-toggle">ثبت نام</button>
        </form>
    </div>
@RenderBody()
</div>
</body>
</html>